<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body style="background-color: skyblue; border-style: solid;
    border-color: black;">
<header>
</header>
<ul>
  <li>
    <%= shortURL %> : <%= urlDatabase[shortURL].url %>
    <form method="POST" action="/urls/<%= shortURL %>">
      <input type="text" name="newUrl">EDIT</button><br>
      <button type="submit" value="edit">EDIT</button>
    </form>


  </li>
</ul>
    <!-- Add your EJS code here -->
</body>
</html>

<input type="text" name="lname"><br>
  <input type="submit" value="Submit">