<!DOCTYPE html>
<html>
<head>
  <title>tiny-app</title>
</head>
<body>
<h1>REGISTER HERE</h1>
<form method= "POST" action= "/register">
<br>PASSWORD:<br>
<input type="password" name="password">
<br>EMAIL:<br>
<input type="email" name="email">
<input type="submit" name="SUBMIT">
</form>

</body>
</html>